.ImageContainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items:center;
}
.Image{
    color: black;
}

.ShowImageBtn{
    font-size: 80%;
    color: white;
    cursor: pointer;
}