.body, html {
    background-color: #e9edf9;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-wrapper {
    width: 1000px;
    height: 600px;
    display: flex;
}
